<div class="flex-1 mt-12 md:mt-2 pb-24 md:pb-5 bg-gray-50 h-screen">
  <div class="text-center">
    <div class="p-3 text-2xl text-black">
      <h3 class="font-bold pl-2">Quản lý bình luận</h3>
    </div>
  </div>

  <!-- <div *ngIf="comments.length !== 0; else loadingContent"> -->
  <div class="table-responsive p-3 md:w-full w-screen">
    <table class="table table-hover">
      <thead class="text-center">
        <tr>
          <th scope="col" class="md:w-screen">STT</th>
          <th scope="col" class="md:w-screen">Người bình luận</th>
          <th scope="col" class="md:w-screen">Nội dung</th>
          <th scope="col" class="md:w-screen">Ngày bình luận</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let item of comments | paginate : { itemsPerPage: 8, currentPage: p };
          index as i
        "
      >
        <tr>
          <th scope="row" class="text-center">{{ i + 1 }}</th>
          <td class="text-center">
            <span>
              {{ item.user?.name }}
            </span>
          </td>
          <td class="text-center">
            <span>{{ item.content }}</span>
          </td>
          <td class="text-center">
            <span>{{ item.createdAt }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-end mr-5 mt-3">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <!-- </div>

  <ng-template #loadingContent>
    <div class="md:1 lg:2 xl:3">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template> -->
</div>
