.wrap-breadcrumb {
  margin: 0px 0 30px;
  width: 100%;
  padding: 29px 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: #e6e6e6;
}
.wrap-breadcrumb .breadcrumb {
  display: block;
  float: none;
}
.breadcrumb > li {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.breadcrumb > li a {
  color: #262626;
  padding-left: 10px;
  text-decoration: none;
}
.breadcrumb i {
  font-size: 15px;
  border-right: 1.5px solid #000;
  padding-right: 10px;
}
.breadcrumb i:hover,
.breadcrumb > li a:hover {
  color: #0d6efd;
}

.top {
  width: 100%;
  height: auto;
  top: 0;
  left: 0px;
  margin: 0px 0px 50px;
  display: block;
  position: relative;
}
.top .child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-left {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 50%;
  height: auto;
  top: unset;
  left: unset;
  display: block;
  position: relative;
}
.top-left img {
  width: 100% !important;
  height: 100% !important;
}
.top-right {
  width: 50%;
  height: auto;
  top: unset;
  left: unset;
  padding: 0px 0px 0px 30px;
  display: block;
  position: relative;
}
.top-right h2 {
  height: auto;
  width: 100%;
  color: var(--c-1680161871009, #2f2f2f);
  font-size: 30px;
  top: 0;
  left: 0px;
  line-height: 45px;
  font-weight: 600;
  margin: 0px 0px 10px;
  display: block;
  position: relative;
}
.top-right .content {
  height: auto;
  width: 100%;
  top: 0;
  left: 0px;
  font-size: 15px;
  color: var(--c-1680144893756, #555);
  line-height: 30px;
  display: block;
  position: relative;
}
.top-right .content strong {
  font-weight: bolder;
}
.bottom {
  width: 100%;
  height: auto;
  top: 0;
  left: 0px;
  display: block;
  position: relative;
}
.bottom .last-child {
  align-items: stretch;
  justify-content: space-between;
  align-content: stretch;
  display: flex;
}
.left {
  width: 32%;
  height: auto;
  top: unset;
  left: unset;
  padding: 20px;
  background-color: #fff;
  border-style: solid;
  border-color: #ebebeb;
  border-width: 1px;
  border-radius: 5px;
  display: block;
  position: relative;
}
.mid {
  width: 32%;
  height: auto;
  top: unset;
  left: unset;
  padding: 20px;
  background-color: #fff;
  border-style: solid;
  border-color: #ebebeb;
  border-width: 1px;
  border-radius: 5px;
  display: block;
  position: relative;
}
.right {
  width: 32%;
  height: auto;
  top: unset;
  left: unset;
  padding: 20px;
  background-color: #fff;
  border-style: solid;
  border-color: #ebebeb;
  border-width: 1px;
  border-radius: 5px;
  display: block;
  position: relative;
}
.title {
  height: auto;
  width: 100%;
  color: var(--c-1680161871009, #2f2f2f);
  font-size: 26px;
  top: 0;
  left: 0px;
  line-height: 40px;
  font-weight: 600;
  margin: 0px 0px 10px;
  text-align: center;
  display: block;
  position: relative;
}
.text {
  height: auto;
  width: 100%;
  top: 0;
  left: 0px;
  font-size: 15px;
  color: var(--c-1680144893756, #555);
  line-height: 30px;
  text-align: center;
  display: block;
  position: relative;
}
