<div>
  <div class="wrap-breadcrumb parallax-breadcrumb">
    <ul class="breadcrumb">
      <li>
        <a href="/"><i class="fa-solid fa-house"></i></a>
      </li>
      <li>
        <a href="introduce">Giới thiệu</a>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="top">
      <div class="child">
        <div class="top-left">
          <img
            src="https://demo037129.web30s.vn/image-process/get-image-v3?path=/datafiles/web30s/upload/images/7101-7200/30S-03-7129/cong-nghe-thong-tin.jpg&width=0"
            alt=""
          />
        </div>
        <div class="top-right">
          <h2>Giới thiệu công ty</h2>
          <div class="content">
            <p>
              Thương hiệu được hình thành từ năm 2006, với Sologan ”Gives You A
              Sense Of Security- Mang đến cho bạn cảm giác an toàn”. Satenet đã
              nhanh chóng phát triển mạnh mẽ và nhận được sự tin tưởng của đa số
              các khách hàng trên khắp cả nước. Với sự tăng trưởng vượt trội
              chúng tôi đã tở thành đối tác chiến lược của nhiều thương hiệu
              thiết bị an ninh nổi tiếng thế giới, với nhiều thương hiệu đến từ
              Châu Mỹ, Châu Âu, Đức, Nhật, Hàn Quốc, Đài Loan, Trung Quốc….
            </p>
            <p>
              <strong>
                “Chúng tôi không chỉ bán 1 sản phẩm, chúng tôi mang đến cho bạn
                1 giải pháp hoàn hảo. Chúng tôi không chỉ cung cấp sản phẩm tốt,
                chúng tôi mang đến cho bạn sự hiệu quả”
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="last-child">
        <div class="left">
          <h3 class="title">Dịch Vụ</h3>
          <div class="text">
            <p>
              Cung cấp thiết kế giải pháp an ninh giám sát, phòng cháy chữa
              cháy, viễn thông, truyền hình, kiểm soát an ninh. Dịch vụ tư vấn
              nghiệp vụ an ninh an toàn cho nhu cầu dân dụng của các tổ chức
              doanh nghiệp, cá nhân. Cung cấp dịch vụ lắp đặt và bảo hành, bảo
              trì tận nơi với các lựa chọn linh hoạt từ dân dụng tới chuyên
              dụng, từ khách hàng yêu cầu cơ bản tới cao cấp.
            </p>
          </div>
        </div>
        <div class="mid">
          <h3 class="title">Sản Phẩm</h3>
          <div class="text">
            <p>
              Thiết bị an ninh giám sát. Hệ thống Smarthome, SmartCity. Thiết bị
              gia dụng thông minh. Thiết bị y tế, dụng cụ y khoa. Thiết bị viễn
              thông, truyền hình, Thiết bị máy văn phòng Thiết bị công nghệ
              thông tin, Thiết bị linh kiện máy tính. Thiết bị hạ tầng mạng.
            </p>
          </div>
        </div>
        <div class="right">
          <h3 class="title">Cam Kết</h3>
          <div class="text">
            <p>
              Mang đến cho quý khách hàng sản phẩm chính hãng, mới 100%. Đúng
              xuất xứ và tiêu chuẩn của nhà sản xuất, giá tốt nhất thị trường.
              Cùng giải pháp hoàn hảo nhất cho hiệu quả cao khi sử dụng. Hệ
              thống các chi nhánh luôn có sẵn hàng trong kho với số lượng lớn.
              Luôn đáp ứng nhu cầu mua sắm và giao nhận nhanh chóng không phải
              chờ đợi lâu.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
