<main>
    <section class="top-product">
        <div class="container">
            <div class="box-heading">
                <h2>Sản phẩm hàng đầu</h2>
            </div>
            <div class="top-product-lists">
                <div class="item">
                    <a href="/123">
                        <div class="image-item">
                            <div class="inner">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/catalog/category-image3.jpg"
                                    alt="item">
                            </div>
                        </div>
                    </a>
                    <div class="title-item">
                        <p class="name">Ceramic Flower Vase</p>
                    </div>
                </div>
                <div class="item">
                    <a href="/123">
                        <div class="image-item">
                            <div class="inner">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/catalog/category-image1.jpg"
                                    alt="item">
                            </div>
                        </div>
                    </a>
                    <div class="title-item">
                        <p class="name">Ceramic Flower Vase</p>
                    </div>
                </div>
                <div class="item">
                    <a href="/123">
                        <div class="image-item">
                            <div class="inner">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/catalog/category-image3.jpg"
                                    alt="item">
                            </div>
                        </div>
                    </a>
                    <div class="title-item">
                        <p class="name">Ceramic Flower Vase</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="list-products">
        <div class="container">
            <div class="box-heading">
                <h2>Sản phẩm nổi bật</h2>
            </div>
            <div class="products">
                <div class="card-product">
                    <div class="img-product">
                        <a href="123">
                            <div class="card-img">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/03-278x320.jpg"
                                    alt="product" class="img1">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/08-278x320.jpg"
                                    alt="product" class="img2">
                            </div>
                        </a>
                        <div class="button-group">
                            <button class="wishlist">
                                <span>Yêu thích</span>
                                <i class="fa fa-heart"></i>
                            </button>
                            <a href="123">
                                <button class="quick-view">
                                    <span>Xem thông tin</span>
                                    <i class="fa fa-eye"></i>
                                </button>
                            </a>
                            <button class="add-cart">
                                <span>Thêm vào giỏ hàng</span>
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="info-product">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4 class="product-name">
                            <a href="123">
                                Aliquam Quaerat
                            </a>
                        </h4>
                        <p class="product-price">1.900.000đ</p>
                    </div>
                </div>
                <div class="card-product">
                    <div class="img-product">
                        <a href="123">
                            <div class="card-img">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/03-278x320.jpg"
                                    alt="product" class="img1">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/08-278x320.jpg"
                                    alt="product" class="img2">
                            </div>
                        </a>
                        <div class="button-group">
                            <button class="wishlist">
                                <span>Yêu thích</span>
                                <i class="fa fa-heart"></i>
                            </button>
                            <a href="123">
                                <button class="quick-view">
                                    <span>Xem thông tin</span>
                                    <i class="fa fa-eye"></i>
                                </button>
                            </a>
                            <button class="add-cart">
                                <span>Thêm vào giỏ hàng</span>
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="info-product">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4 class="product-name">
                            <a href="123">
                                Aliquam Quaerat
                            </a>
                        </h4>
                        <p class="product-price">1.900.000đ</p>
                    </div>
                </div>
                <div class="card-product">
                    <div class="img-product">
                        <a href="123">
                            <div class="card-img">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/03-278x320.jpg"
                                    alt="product" class="img1">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/08-278x320.jpg"
                                    alt="product" class="img2">
                            </div>
                        </a>
                        <div class="button-group">
                            <button class="wishlist">
                                <span>Yêu thích</span>
                                <i class="fa fa-heart"></i>
                            </button>
                            <a href="123">
                                <button class="quick-view">
                                    <span>Xem thông tin</span>
                                    <i class="fa fa-eye"></i>
                                </button>
                            </a>
                            <button class="add-cart">
                                <span>Thêm vào giỏ hàng</span>
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="info-product">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4 class="product-name">
                            <a href="123">
                                Aliquam Quaerat
                            </a>
                        </h4>
                        <p class="product-price">1.900.000đ</p>
                    </div>
                </div>
                <div class="card-product">
                    <div class="img-product">
                        <a href="123">
                            <div class="card-img">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/03-278x320.jpg"
                                    alt="product" class="img1">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/08-278x320.jpg"
                                    alt="product" class="img2">
                            </div>
                        </a>
                        <div class="button-group">
                            <button class="wishlist">
                                <span>Yêu thích</span>
                                <i class="fa fa-heart"></i>
                            </button>
                            <a href="123">
                                <button class="quick-view">
                                    <span>Xem thông tin</span>
                                    <i class="fa fa-eye"></i>
                                </button>
                            </a>
                            <button class="add-cart">
                                <span>Thêm vào giỏ hàng</span>
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="info-product">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4 class="product-name">
                            <a href="123">
                                Aliquam Quaerat
                            </a>
                        </h4>
                        <p class="product-price">1.900.000đ</p>
                    </div>
                </div>
                <div class="card-product">
                    <div class="img-product">
                        <a href="123">
                            <div class="card-img">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/03-278x320.jpg"
                                    alt="product" class="img1">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/08-278x320.jpg"
                                    alt="product" class="img2">
                            </div>
                        </a>
                        <div class="button-group">
                            <button class="wishlist">
                                <span>Yêu thích</span>
                                <i class="fa fa-heart"></i>
                            </button>
                            <a href="123">
                                <button class="quick-view">
                                    <span>Xem thông tin</span>
                                    <i class="fa fa-eye"></i>
                                </button>
                            </a>
                            <button class="add-cart">
                                <span>Thêm vào giỏ hàng</span>
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="info-product">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4 class="product-name">
                            <a href="123">
                                Aliquam Quaerat
                            </a>
                        </h4>
                        <p class="product-price">1.900.000đ</p>
                    </div>
                </div>
                <div class="card-product">
                    <div class="img-product">
                        <a href="123">
                            <div class="card-img">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/03-278x320.jpg"
                                    alt="product" class="img1">
                                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/08-278x320.jpg"
                                    alt="product" class="img2">
                            </div>
                        </a>
                        <div class="button-group">
                            <button class="wishlist">
                                <span>Yêu thích</span>
                                <i class="fa fa-heart"></i>
                            </button>
                            <a href="123">
                                <button class="quick-view">
                                    <span>Xem thông tin</span>
                                    <i class="fa fa-eye"></i>
                                </button>
                            </a>
                            <button class="add-cart">
                                <span>Thêm vào giỏ hàng</span>
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="info-product">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4 class="product-name">
                            <a href="123">
                                Aliquam Quaerat
                            </a>
                        </h4>
                        <p class="product-price">1.900.000đ</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="ctbanner">
            <div class="banner-img">
                <a href="123">
                    <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/catalog/cms-banner.jpg"
                        alt="banner">
                </a>
            </div>
            <div class="banner-text">
                <div class="offer">
                    Tiết kiệm 30%
                </div>
                <div class="main-title">
                    Mới nhất
                </div>
                <div class="desc">
                    Có rất nhiều
                </div>
                <div class="shopnow">
                    <a href="123">Xem ngay</a>
                </div>
            </div>
        </div>
    </section>

    <section class="service">
        <div class="row">
            <h2 class="section-heading">Dịch vụ của chúng tôi</h2>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        1
                    </div>
                    <h3>Lấy hàng đúng giờ</h3>
                    <p>
                        Đợi chờ đến hết thanh xuân mà chưa ai đến lấy hàng đi giao.
                        Shop não nề vì lấy hàng trễ? Hết lo, chúng tôi lo hết!
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        2
                    </div>
                    <h3>Giao hàng nhanh chóng </h3>
                    <p>
                        Giao hàng mà chill hết nấc, ngày qua ngày hàng vẫn chưa đến tay người nhận.
                        Shop buồn rầu vì hàng giao lâu? Hết lo, Ninja Van lo hết!
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        3
                    </div>
                    <h3>Đơn hàng thành công</h3>
                    <p>
                        Hàng to, hàng nặng, hàng xa, shipper thấy khó, thế là không giao.
                        Hàng không giao, shop phải làm sao? Hết lo,chúng tôi lo hết!
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        4
                    </div>
                    <h3>Một đơn cũng lấy</h3>
                    <p>
                        Shop nhỏ dễ dàng lên đơn. Một đơn cũng lấy tận cửa, giao tận nơi!
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        5
                    </div>
                    <h3>Đối soát hàng tuần</h3>
                    <p>
                        Hàng đi thông suốt, tiền về liền tay. Đảm bảo đối soát đúng hạn, đúng số tiền.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        6
                    </div>
                    <h3>Toàn quốc chỉ từ 18K</h3>
                    <p>
                        Chi phí hợp lí, gửi hàng thả ga. Tiết kiệm tối đa cho chủ shop.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>