<main class="container-fluid">
  <div class="flex justify-center items-center">
    <div class="m-0 p-0 flex justify-center items-center my-5 mx-5">
      <div
        class="w-[800px] h-[400px] rounded-[10px] overflow-hidden shadow-2xl"
      >
        <div class="w-[500%] h-[420px] flex">
          <input type="radio" class="hidden" name="radio-btn" id="radio1" />
          <input type="radio" class="hidden" name="radio-btn" id="radio2" />
          <input type="radio" class="hidden" name="radio-btn" id="radio3" />
          <input type="radio" class="hidden" name="radio-btn" id="radio4" />
          <input type="radio" class="hidden" name="radio-btn" id="radio5" />

          <div class="slide first">
            <img
              src="https://cdn2.cellphones.com.vn/690x300,webp,q100/https://dashboard.cellphones.com.vn/storage/rog-phone7-sliding-pre-order.jpg"
              class="w-[800px] h-[400px]"
              alt="banner1"
            />
          </div>
          <div class="slide">
            <img
              src="https://cdn2.cellphones.com.vn/690x300,webp,q100/https://dashboard.cellphones.com.vn/storage/Homepage.jpg"
              class="w-[800px] h-[400px]"
              alt="banner2"
            />
          </div>
          <div class="slide">
            <img
              src="https://cdn2.cellphones.com.vn/690x300,webp,q100/https://dashboard.cellphones.com.vn/storage/Homepage.jpg"
              class="w-[800px] h-[400px]"
              alt="banner3"
            />
          </div>
          <div class="slide">
            <img
              src="https://cdn2.cellphones.com.vn/690x300,webp,q100/https://dashboard.cellphones.com.vn/storage/wfc700.png"
              class="w-[800px] h-[400px]"
              alt="banner4"
            />
          </div>
          <div class="slide">
            <img
              src="https://cdn2.cellphones.com.vn/690x300,webp,q100/https://dashboard.cellphones.com.vn/storage/realme c55.png"
              class="w-[800px] h-[400px]"
              alt="banner5"
            />
          </div>

          <div class="navigation-auto">
            <div class="auto-btn1 hidden"></div>
            <div class="auto-btn2 hidden"></div>
            <div class="auto-btn3 hidden"></div>
            <div class="auto-btn4 hidden"></div>
            <div class="auto-btn5 hidden"></div>
          </div>
        </div>

        <div class="absolute w-[800px] mt-[-40px] flex justify-center">
          <label htmlFor="radio1" class="manual-btn hidden"></label>
          <label htmlFor="radio2" class="manual-btn hidden"></label>
          <label htmlFor="radio3" class="manual-btn hidden"></label>
          <label htmlFor="radio4" class="manual-btn hidden"></label>
          <label htmlFor="radio5" class="manual-btn hidden"></label>
        </div>
      </div>
    </div>

    <div class="w-[295px]">
      <div class="ml-3">
        <img
          src="https://cdn2.cellphones.com.vn/690x300,webp,q10/https://dashboard.cellphones.com.vn/storage/right-m14-thang5.png"
          alt="GALAXY S23 ULTRA Ưu đãi khủng"
          class="rounded-[10px] shadow my-2"
        />
        <img
          src="https://cdn2.cellphones.com.vn/690x300,webp,q10/https://dashboard.cellphones.com.vn/storage/right-banner-th5-newww1.jpg"
          alt="IPAD CHÍNH HÃNG Lên đời từ 6.69 triệu"
          class="rounded-[10px] shadow my-2"
        />
        <img
          src="https://cdn2.cellphones.com.vn/690x300,webp,q10/https://dashboard.cellphones.com.vn/storage/right-banner-ideapad-3.jpg"
          alt="ASUS VIVOBOOK Cấu hình vô đối"
          class="rounded-[10px] shadow my-2"
        />
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading; else loadingContent">
    <section class="list-products">
      <div class="container">
        <div class="box-heading">
          <h2>Sản phẩm nổi bật</h2>
        </div>
        <div class="products">
          <div *ngFor="let item of items; let i = index" class="card-product">
            <div class="img-product">
              <a href="productDetail/{{ item._id }}">
                <div class="card-img">
                  <img
                    src="{{item.images?.[0].base_url}}"
                    alt="product"
                    class="img1"
                  />
                  <img
                    src="{{item.images?.[0]?.base_url}}"
                    alt="product"
                    class="img2"
                  />
                </div>
              </a>
              <div class="button-group">
                <button class="wishlist">
                  <span>Yêu thích</span>
                  <i class="far fa-heart"></i>
                </button>
                <a href="productDetail/{{ item._id }}">
                  <button class="quick-view">
                    <span>Xem thông tin</span>
                    <i class="far fa-eye"></i>
                  </button>
                </a>
                <button class="add-cart" (click)="addToCart(item)">
                  <span>Thêm vào giỏ hàng</span>
                  <i class="fa fa-shopping-cart"></i>
                </button>
              </div>
            </div>
            <div class="info-product">
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <h4 class="product-name">
                <a href="productDetail/{{ item._id }}">
                  {{ item.name }}
                </a>
              </h4>
              <p class="product-price">
                {{ item.price ? formatCurrency(item.price) : "" }}
              </p>
            </div>
          </div>
        </div>
        <div class="show-product">
          <button>Xem thêm</button>
        </div>
      </div>
    </section>
  </div>
  <ng-template #loadingContent>
    <div class="flex justify-center h-screen items-center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

  <section class="container-fluid">
    <div class="ctbanner">
      <div class="banner-img">
        <a href="#">
          <img
            src="https://capricathemes.com/opencart/OPC02/OPC020033/image/catalog/cms-banner.jpg"
            alt="banner"
          />
        </a>
      </div>
      <div class="banner-text">
        <div class="offer">Tiết kiệm 30%</div>
        <div class="main-title">Mới nhất</div>
        <div class="desc">Có rất nhiều</div>
        <div class="shopnow">
          <a href="#">Xem ngay</a>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="rowH justify-center p-3">
      <h2 class="section-heading">Dịch vụ của chúng tôi</h2>
    </div>
    <div class="rowH">
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">1</div>
          <h3>Lấy hàng đúng giờ</h3>
          <p>
            Đợi chờ đến hết thanh xuân mà chưa ai đến lấy hàng đi giao. Shop não
            nề vì lấy hàng trễ? Hết lo, chúng tôi lo hết!
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">2</div>
          <h3>Giao hàng nhanh chóng</h3>
          <p>
            Giao hàng mà chill hết nấc, ngày qua ngày hàng vẫn chưa đến tay
            người nhận. Shop buồn rầu vì hàng giao lâu? Hết lo, Ninja Van lo
            hết!
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">3</div>
          <h3>Đơn hàng thành công</h3>
          <p>
            Hàng to, hàng nặng, hàng xa, shipper thấy khó, thế là không giao.
            Hàng không giao, shop phải làm sao? Hết lo,chúng tôi lo hết!
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">4</div>
          <h3>Một đơn cũng lấy</h3>
          <p>
            Shop nhỏ dễ dàng lên đơn. Một đơn cũng lấy tận cửa, giao tận nơi!
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">5</div>
          <h3>Đối soát hàng tuần</h3>
          <p>
            Hàng đi thông suốt, tiền về liền tay. Đảm bảo đối soát đúng hạn,
            đúng số tiền.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">6</div>
          <h3>Toàn quốc chỉ từ 18K</h3>
          <p>Chi phí hợp lí, gửi hàng thả ga. Tiết kiệm tối đa cho chủ shop.</p>
        </div>
      </div>
    </div>
  </section>
</main>
