* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Slider */
.slide {
  width: 20%;
  transition: 2s;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0%;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 380px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #40d3dc;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background-color: #40d3dc;
}
/* Slider */

/* Sản phẩm hàng đầu */

/* .top-product {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.container {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.box-heading {
  position: relative;
  text-align: center;
  border: none;
  display: inline-block;
  width: auto;
  margin: 0 auto 30px;
  padding: 0;
  color: black;
  position: relative;
  font: 700 30px/28px;
  text-transform: capitalize;
  letter-spacing: 0.2px;
}
.box-heading h2::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #888888;
  position: absolute;
  left: 40%;
  right: 40%;
  bottom: -5px;
  transition: all 0.9s ease;
}
.box-heading h2:hover::after {
  left: -20px;
  right: -20px;
}
/* .top-product-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 7px 7px;
  background: #e6e6e6;
  width: 100%;
} */
/* .item {
  position: relative;
  padding: 0;
  text-align: center;
  list-style: none;
  margin: 10px;
  flex: 1 1 300px;
  max-width: 400px;
} */
/* .inner img {
  max-width: 100%;
  height: auto;
}
.title-item {
  text-align: center;
  padding: 0;
}
.title-item p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #000;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
} */
/* .image-item {
  position: relative;
  overflow: hidden;
}
.inner img {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}
.inner img:hover {
  transform: scale(1.1);
} */

/* Sản phẩm hàng đầu */

/* Danh sách sản phẩm */
.products {
  width: 100%;
  align-self: center;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.card-product {
  position: relative;
  width: 350px;
  height: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 40px;
  border-radius: 10px;
  transition: 0.3s;
}
.card-img {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.img1,
.img2 {
  width: 240px;
  transition: transform 700ms ease 0s, opacity 400ms ease 0s;
}
.img1 {
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
.img2 {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
  z-index: 1;
  filter: blur(1.5px);
}
.img-product {
  background-color: #fff;
}
.card-product:hover .img1 {
  transform: scale(0.5);
  opacity: 0;
}
.card-product:hover .img2 {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.button-group {
  opacity: 0;
  right: 0;
  left: 0;
  width: auto;
  z-index: 2;
  text-align: center;
  height: 50px;
  transition: all 600ms ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.card-product:hover .button-group {
  opacity: 1;
  color: #f2f2f2;
}
.wishlist,
.quick-view,
.add-cart {
  position: relative;
  z-index: 1;
  width: 35px;
  height: 35px;
  background-color: #000;
  color: #f2f2f2;
}
.wishlist span,
.quick-view span,
.add-cart span {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  background-color: #000;
  color: #f2f2f2;
  padding: 5px;
  opacity: 0;
  transition: opacity 300ms ease 0s;
  white-space: nowrap;
  overflow: hidden;
}
.wishlist:hover span,
.quick-view:hover span,
.add-cart:hover span {
  opacity: 1;
}
.info-product {
  margin-top: 20px;
}
.product-name {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 7px;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
}
.product-name a {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  line-height: 22px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.6px;
}
.product-price {
  color: #000000;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.rating {
  padding-bottom: 0;
  line-height: normal;
  margin-bottom: 8px;
}
.rating i {
  color: #ffb700;
  font-size: 13px;
}
.show-product {
  margin-top: 5vh;
}
.show-product button {
  border: 1px solid grey;
  padding: 10px;
}
.show-product button:hover {
  background-color: #888888;
  color: #fff;
}

/* Danh sách sản phẩm */

/* Banner */
.ctbanner {
  position: relative;
  clear: both;
  color: #f2f2f2;
}
.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.banner-img img {
  width: auto;
  transition: transform 2s ease;
}
.banner-img:hover img {
  transform: scale(1.1);
}
.banner-text {
  position: absolute;
  top: 20%;
  bottom: auto;
  left: 45%;
  right: 0;
  margin: 0;
  text-align: left;
  padding: 0 15%;
}
.offer {
  font-size: 50px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0.19px;
  transition: all 0.5s ease 0s;
  padding-top: 33px;
}
.main-title {
  font-size: 40px;
  letter-spacing: 0.19px;
  font-weight: 300;
  line-height: 60px;
}
.desc {
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 400;
  color: #888888;
  margin-top: 13px;
}
.shopnow {
  display: inline-block;
  margin-top: 30px;
  transition: all 0.7s ease;
}
.shopnow a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-weight: 500;
  padding: 12px 31px;
  transition: all 500ms ease 0s;
  position: relative;
  z-index: 1;
  color: #000000;
  background: #ffffff;
}
.shopnow a:hover {
  background-color: #e6e6e662;
  color: #fff;
}
.ctbanner:hover .banner-img img {
  transform: scale(1.1);
}
/* Banner */

/* Dịch vụ */
.service {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.rowH {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
.card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
.card p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #2c7bfe;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
