<body>
    <link rel="stylesheet" href="product-detail.component.css">
    <div>
        <div class="container">
            <div class="item item1">
                <img style="height: 450px;"
                    src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/02-481x553.jpg  "
                    alt="">
            </div>
            <div class="item item2">
                <h2 style="text-align: center; font-size:30px;"><b>Aliquam Quaerat</b></h2>
                <hr>
                <div class="title">
                    <p><b>Brand</b>:Canon</p>
                    <p><b>Product Code</b>: Product 16</p>
                    <p><b>Reward Points</b>: 600</p>
                    <p><b>Availability</b>: In Stock</p>
                    <hr>
                </div>
                <p style="font-weight:500; font-size: 25px;">$108.80</p>
                <p>Ex Tax: $89.0</p>
                <input type="number" style="border : 1px solid; height: 30px; width: 70px;">
                <button class="btn btn-boder">
                    Add To Cart
                </button>


            </div>

        </div>
    </div>
    <div>
        <div class="status">
            <div class="photo ">
                <img class="navimg"
                    src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/04-481x553.jpg" alt="">

            </div>
            <div class="photo">
                <img class="navimg"
                    src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/05-481x553.jpg" alt="">
            </div>
            <div class="photo">
                <img class="navimg"
                    src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/06-481x553.jpg" alt="">
            </div>
            <div class="photo">
                <img class="navimg"
                    src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/08-481x553.jpg" alt="">
            </div>


        </div>
        <hr style="width: 900px; margin-top: 50px;">
        <div class="des">
            <div>
                <b>
                    <p>Description</p>
                </b>
            </div>
            <br>
            <div>
                <p style="margin-right: 700px;"><b>-Intel Core 2 Duo processor</b></p>
                <p style="margin-right: 270px;">Powered by an Intel Core 2 Duo processor at speeds up to 2.16GHz, the
                    new MacBook is the fastest</p>
                <p style="margin-right: 665px;"><b>-1GB memory, larger hard drives</b></p>
                <p style="margin-right: 20px;">The new MacBook now comes with 1GB of memory standard and larger hard
                    drives for the entire line perfect for running more of your favorite</p>
                <p style="margin-right: 690px;"><b>-Sleek, 1.08-inch-thin design</b></p>
                <p style="margin-right: 30px;">MacBook makes it easy to hit the road thanks to its tough polycarbonate
                    case, built-in wireless technologies, and innovative MagSafe Power </p>
                <p style="margin-right: 730px;"><b>-Built-in iSight camera</b></p>
                <p style="margin-right: 280px;">Right out of the box, you can have a video chat with friends or family,2
                    record a video at your desk</p>
            </div>
        </div>
        <div class="related">
            <p class="products-titles">Related Products</p>
        </div>
        <div class="status2">

            <div class="photo2 ">
                <img class="optionimg"
                    src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/01-278x320.jpg" alt="">

                <div class="price">
                    <b>
                        <p>$122.00</p>
                    </b>
                    <a href="">
                        <p style="color: black; text-decoration: none;">Voluptas Assumenda</p>
                    </a>

                </div>
            </div>
            <div class="photo2">
                <img class="optionimg"
                    src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/11-278x320.jpg" alt="">
                <div class="price">
                    <b>
                        <p>$122.00</p>
                    </b>
                    <a href="" style="color: black; text-decoration: none;" s>
                        <p>Voluptas Assumenda</p>
                    </a>
                </div>
            </div>
            <div class="photo2">
                <a href=""><img class="optionimg"
                        src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/06-278x320.jpg  "
                        alt=""></a>
                <div class="price">
                    <b>
                        <p>$122.00</p>
                    </b>
                    <a href="" style="color: black; text-decoration: none;">
                        <p>Voluptas Assumenda</p>
                    </a>
                </div>
            </div>
            <div class="photo2">
                <a href=""><img class="optionimg"
                        src="https://capricathemes.com/opencart/OPC02/OPC020033/image/cache/catalog/12-278x320.jpg"
                        alt=""></a>
                <div class="price">
                    <b>
                        <p>$122.00</p>
                    </b>
                    <a href="" style="color: black; text-decoration: none;">
                        <p>Voluptas Assumenda</p>
                    </a>
                </div>
            </div>


        </div>
    </div>
</body>