.wrap-breadcrumb {
  margin: 0px 0 30px;
  width: 100%;
  padding: 29px 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: #e6e6e6;
}
.wrap-breadcrumb .breadcrumb {
  display: block;
  float: none;
}
.breadcrumb > li {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.breadcrumb > li a {
  color: #262626;
  padding-left: 10px;
  text-decoration: none;
}
.breadcrumb i {
  font-size: 15px;
  border-right: 1.5px solid #000;
  padding-right: 10px;
}
.breadcrumb i:hover,
.breadcrumb > li a:hover {
  color: #0d6efd;
}

.profile {
  padding: 5vh 25vh;
  display: flex;
}
.img-prod {
  width: 50%;
}
.profile .img-prod img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.img-mini {
  display: flex;
  margin: 2vh 10vh;
  gap: 3vh;
}
.img-mini img:hover {
  border: 1px solid;
}
.img-mini img {
  width: 90px;
}
.info {
  width: 50%;
}
.product-title {
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0 15px;
  color: #000000;
  border-bottom: 1px solid #dfdfdf;
  line-height: 32px;
}
.detail {
  border-bottom: 1px solid #dfdfdf;
}
.detail .rate {
  padding: 2vh 0vh;
  display: flex;
}
.detail .rate i {
  width: 18px;
  font-size: 12px;
  color: #ffb700;
}
.detail b {
  font-weight: 500;
  color: #262626;
  font-size: 14px;
}
.detail p {
  color: gray;
}
.prices {
  border-bottom: 1px solid #dfdfdf;
}
.price {
  margin: 3vh 0vh;
}
.price del {
  font-size: 16px;
  color: #888888;
  font-weight: 400;
}
.price span {
  font-weight: 700;
  font-size: 20px;
  margin-left: 1vh;
}
.add-carts {
  margin: 3vh 0vh;
}
.add-carts input {
  height: 50px;
  width: 60px;
  padding: 2vh;
  font-size: 14px;
  color: #888;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  outline: none;
}
.add-carts button {
  padding: 14px 30px;
  margin-left: 1vh;
  font-size: 14px;
  background-color: #000;
  color: #fff;
}
.add-carts button:hover {
  background: #888888;
}
.container {
  text-align: center;
}
.box-heading {
  position: relative;
  text-align: center;
  border: none;
  display: inline-block;
  width: auto;
  margin: 0 auto 30px;
  padding: 0;
  color: black;
  position: relative;
  font: 700 30px/28px;
  text-transform: capitalize;
  letter-spacing: 0.2px;
}
.box-heading h2::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #888888;
  position: absolute;
  left: 40%;
  right: 40%;
  bottom: -5px;
  transition: all 0.9s ease;
}
.box-heading h2:hover::after {
  left: -20px;
  right: -20px;
}
.products {
  width: 100%;
  align-self: center;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.card-product {
  position: relative;
  width: 300px;
  height: 450px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 40px;
  border-radius: 10px;
  transition: 0.3s;
}
.card-img {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.img1,
.img2 {
  width: 240px;
  transition: transform 700ms ease 0s, opacity 400ms ease 0s;
}
.img1 {
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
.img2 {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
  z-index: 1;
  filter: blur(1.5px);
}
.img-product {
  background-color: #fff;
}
.card-product:hover .img1 {
  transform: scale(0.5);
  opacity: 0;
}
.card-product:hover .img2 {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.button-group {
  opacity: 0;
  right: 0;
  left: 0;
  width: auto;
  z-index: 2;
  text-align: center;
  height: 50px;
  transition: all 600ms ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.card-product:hover .button-group {
  opacity: 1;
  color: #f2f2f2;
}
.wishlist,
.quick-view,
.add-cart {
  position: relative;
  z-index: 1;
  width: 35px;
  height: 35px;
  background-color: #000;
  color: #f2f2f2;
}
.wishlist span,
.quick-view span,
.add-cart span {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  background-color: #000;
  color: #f2f2f2;
  padding: 5px;
  opacity: 0;
  transition: opacity 300ms ease 0s;
  white-space: nowrap;
  overflow: hidden;
}
.wishlist:hover span,
.quick-view:hover span,
.add-cart:hover span {
  opacity: 1;
}
.info-product {
  margin-top: 20px;
}
.product-name {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 7px;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
}
.product-name a {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  line-height: 22px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.6px;
}
.product-price {
  color: #000000;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.rating {
  padding-bottom: 0;
  line-height: normal;
  margin-bottom: 8px;
}
.rating i {
  color: #ffb700;
  font-size: 13px;
}
.description-specifications-comment {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.nav-tab {
  float: none;
  text-align: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
}
.description-specifications-comment .nav-tab li {
  list-style: none outside none;
  position: relative;
  text-align: center;
  float: none;
  display: inline-block;
  margin: 0;
}
.description-specifications-comment .nav-tab li button {
  display: block;
  text-transform: capitalize;
  float: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding: 0 35px;
  margin: 0;
  text-align: center;
  position: static;
  letter-spacing: 0.6px;
  border: 0;
}
.description-specifications-comment .tab-content {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0px;
  text-align: left;
  position: relative;
  z-index: 2;
  overflow: visible;
  margin-bottom: 0px;
}
.tab-bane {
  padding: 20px;
  border: 1px solid #ededed;
  width: 1200px;
}
.tab-bane {
  display: none;
}

.tab-bane.active {
  display: block;
}
.nav-tab li.active {
  color: #000;
}
.nav-tab li {
  color: #888;
}
.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}
mat-form-field {
  margin-right: 12px;
}
