<div *ngIf="!isLoading; else loadingContent">
  <div class="wrap-breadcrumb parallax-breadcrumb">
    <ul class="breadcrumb">
      <li>
        <a href="/"><i class="fa-solid fa-house"></i></a>
      </li>
      <li>
        <a href="productDetail/{{ product._id }}">{{ product.name }}</a>
      </li>
    </ul>
  </div>

  <div class="product container-fluid grid justify-center">
    <div class="profile w-[1500px]">
      <div class="img-prod">
        <img
          src="{{ product.images?.[0].base_url }}"
          alt="img-prod"
          class="border w-[500px]"
        />
        <div class="img-mini">
          <div *ngFor="let img of product.images; let i = index">
            <div *ngIf="i < 4" class="border">
              <img src="{{ img.base_url }}" alt="img" class="p-1" />
            </div>
          </div>
        </div>
      </div>
      <div class="info">
        <h3 class="product-title">{{ product.name }}</h3>
        <div class="detail">
          <div class="rate">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p><b>Brand:</b> {{ product.brand?.name }}</p>
          <p><b>Product Code:</b> Product 16</p>
          <p><b>Availability:</b> In Stock</p>
        </div>
        <div class="prices">
          <div class="price">
            <del class="old-price"
              >{{ product.original_price.toLocaleString() }}₫</del
            >
            <span class="special-price"
              >{{ product.price.toLocaleString() }}₫</span
            >
          </div>
          <div class="add-carts">
            <button (click)="addToCart(product)">Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
    </div>

    <div class="description-specifications-comment">
      <ul class="nav-tab">
        <li [ngClass]="{ active: activeTab === 0 }">
          <button (click)="changeTab(0)">Mô tả</button>
        </li>
        <li [ngClass]="{ active: activeTab === 1 }">
          <button (click)="changeTab(1)">Thông số kỹ thuật</button>
        </li>
        <li [ngClass]="{ active: activeTab === 2 }">
          <button (click)="changeTab(2)">Bình luận</button>
        </li>
      </ul>
      <div class="tab-content">
        <div
          class="tab-bane"
          *ngIf="activeTab === 0"
          [ngClass]="{ active: activeTab === 0 }"
        >
          {{ product.short_description }}
        </div>
        <div
          class="tab-bane"
          *ngIf="activeTab === 1"
          [ngClass]="{ active: activeTab === 1 }"
        >
          Thông số kỹ thuật content
        </div>
        <div
          class="tab-bane"
          *ngIf="activeTab === 2"
          [ngClass]="{ active: activeTab === 2 }"
        >
          <div class="bg-gray-100 px-4 py-2 rounded-lg mt-5">
            <h2 class="text-lg font-bold mb-4">Các bình luận về sản phẩm</h2>
            <ul
              class="divide-y divide-gray-200"
              *ngFor="let comment of comments; index as i"
            >
              <li class="py-4">
                <div class="flex space-x-3">
                  <div class="flex-shrink-0">
                    <img
                      class="h-10 w-10 rounded-full"
                      src="https://via.placeholder.com/150"
                      alt=""
                    />
                  </div>
                  <div class="min-w-0 flex-1">
                    <div class="text-sm font-medium text-gray-900">
                      {{ comment.user.name }}
                    </div>
                    <div class="text-sm text-gray-500">
                      <time datetime="2023-04-12 T19:20"
                        >{{ comment.createdAt }}
                      </time>
                    </div>
                    <div class="mt-1 text-sm text-gray-700">
                      {{ comment.content }}
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div
              class="text-gray-500 text-center p-3"
              *ngIf="!comments || comments.length === 0"
            >
              Không có bình luận.
            </div>

            <form
              class="example-form"
              (ngSubmit)="onSubmit()"
              [formGroup]="commentForm"
            >
              <mat-form-field class="example-full-width">
                <mat-label>Nhập bình luận</mat-label>
                <textarea
                  formControlName="content"
                  matInput
                  placeholder="Tối thiểu 50 kí tự"
                ></textarea>
              </mat-form-field>
              <span class="text-red-500">{{ errorMessage }}</span>
              <div class="flex justify-end">
                <button mat-raised-button color="primary">Bình luận</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="box-heading">
        <h2>Sản phẩm cùng loại</h2>
      </div>
      <div class="products">
        <div *ngFor="let item of products; let i = index">
          <div class="card-product" *ngIf="i < 4">
            <div class="img-product">
              <a href="productDetail/{{ item._id }}">
                <div class="card-img">
                  <img
                    src="{{item.images?.[0].base_url}}"
                    alt="product"
                    class="img1"
                  />
                  <img
                    src="{{item.images?.[1].base_url}}"
                    alt="product"
                    class="img2"
                  />
                </div>
              </a>
              <div class="button-group">
                <button class="wishlist">
                  <span>Yêu thích</span>
                  <i class="far fa-heart"></i>
                </button>
                <a href="productDetail/{{ item._id }}">
                  <button class="quick-view">
                    <span>Xem thông tin</span>
                    <i class="far fa-eye"></i>
                  </button>
                </a>
                <button class="add-cart" (click)="addToCart(item)">
                  <span>Thêm vào giỏ hàng</span>
                  <i class="fa fa-shopping-cart"></i>
                </button>
              </div>
            </div>
            <div class="info-product">
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <h4 class="product-name">
                <a href="productDetail/{{ item._id }}">
                  {{ item.name }}
                </a>
              </h4>
              <p class="product-price">{{ item.price.toLocaleString() }}₫</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingContent>
  <div class="flex justify-center h-screen items-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
