footer {
  margin-top: 0px;
  padding-top: 0px;
  background-color: #000000;
  color: #b2b2b2;
  position: relative;
  display: block;
}
.newsletter {
  font-size: x-large;
  font-weight: bold;
  position: relative;
  clear: both;
  padding-left: 20px;
  text-align: left;
  padding-top: 30px;
}
