<footer>
    <div class="newsletter">
        <div class="container">
            <div class="news-title">Stay Connected With Our Email Updates</div>
        </div>
    </div>
    <div class=" grid grid-cols-4 bg-black w-full text-white ">
        <div class="container">
            <div class="footerlogo">
                <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/catalog/footer-logo.png"
                    style="width: 200px;margin-top: 50px;margin-left: 20px;">
            </div>
            <div style="padding-left:20px ; font-size: small;padding-top: 20px;">There are many variations of passages
                of look even
                slightly believable.
            </div>
            <div class="menu-icon">
                <ul>
                    <a href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </ul>
            </div>
        </div>
        <div style="padding-left: 140px; padding-top: 50px;">
            <b> INFORMATION</b>
            <p> About Us</p>
            <p> Delivery Information</p>
            <p>Privacy Policy</p>
            <p>Terms & Conditions</p>
            <p>Site Map</p>
        </div>
        <div style="padding-left: 90px; padding-top: 50px;">
            <b>Extras</b>
            <p>Brands</p>
            <p>Gift Certificates</p>
            <p>Affiliate</p>
            <p>Specials</p>
            <p>Contact Us</p>
        </div>
        <div style="padding-left: 50px; padding-top: 50px;">
            <b>Store Information</b>
            <p>Address: Artcraft-Art Store
                United States</p>
            <p>Phone number: 000-000-0000</p>
            <p>Email: sales@yourcompany.com</p>
        </div>
    </div>

    <div id="bottom-footer" class="bottomfooter">
        <div class="container">
            <div class="footer-inner">
                <div style="padding-left: 20px;padding-top: 10px;">
                    <p id="powered" class="powered">Powered By <a href="">OpenCart</a>
                        Artcraft -
                        Arts &amp; Craft Store © 2023</p>
                </div>
            </div>
        </div>
    </div>
</footer>