<footer class="mt-10 container-fluid">
  <div class="flex p-10 gap-[15vh] justify-center">
    <div>
      <div>
        <img
          src="https://capricathemes.com/opencart/OPC02/OPC020033/image/catalog/footer-logo.png"
        />
      </div>
      <div class="text mt-10 w-[50vh]">
        There are many variations of passages of look even slightly believable.
      </div>
      <div class="icon mt-10">
        <ul>
          <a href="#" class="facebook">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="#" class="twitter">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="#" class="youtube">
            <i class="fa-brands fa-youtube"></i>
          </a>
          <a href="#" class="google">
            <i class="fa-brands fa-google-plus"></i>
          </a>
          <a href="#" class="instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </ul>
      </div>
    </div>
    <div class="text">
      <b class="text-white"> INFORMATION</b>
      <p class="mt-10">About Us</p>
      <p>Delivery Information</p>
      <p>Privacy Policy</p>
      <p>Terms & Conditions</p>
      <p>Site Map</p>
    </div>
    <div class="text">
      <b class="text-white">Extras</b>
      <p class="mt-10">Brands</p>
      <p>Gift Certificates</p>
      <p>Affiliate</p>
      <p>Specials</p>
      <p>Contact Us</p>
    </div>
    <div class="text">
      <b class="text-white">Store Information</b>
      <p class="mt-10">
        <i class="fa-solid fa-location-dot text-white mr-2"></i>
        Artcraft - Art Store United States
      </p>
      <p>
        <i class="fa-solid fa-phone text-white mr-2"></i>
        000-000-0000
      </p>
      <p>
        <i class="fa-solid fa-envelope text-white mr-2"></i>
        sales@yourcompany.com
      </p>
    </div>
  </div>
</footer>
