<div class="flex-1 mt-12 md:mt-2 pb-24 md:pb-5 bg-gray-50 h-screen">
  <div class="text-center">
    <div class="p-3 text-2xl text-black">
      <h3 class="font-bold pl-2">Quản lý sản phẩm</h3>
    </div>
  </div>

  <div class="mr-[5vh] text-right">
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addProduct"
    >
      <span>Thêm</span>
    </button>
  </div>

  <div class="table-responsive p-3">
    <table class="table table-hover">
      <thead class="text-center">
        <tr>
          <th scope="col" class="md:w-screen">STT</th>
          <th scope="col" class="md:w-screen">Tên sản phẩm</th>
          <th scope="col" class="md:w-screen">Giá</th>
          <th scope="col" class="md:w-screen md:table-cell hidden">Giá gốc</th>
          <th scope="col" class="md:w-screen">Danh mục</th>
          <th scope="col" class="md:w-screen md:hidden table-cell">Chi tiết</th>
          <th scope="col" class="md:w-screen md:table-cell hidden">
            Mô tả ngắn
          </th>
          <th scope="col" class="md:w-screen md:table-cell hidden">Mô tả</th>
          <th scope="col" class="md:w-screen md:table-cell hidden">
            Thông số kỹ thuật
          </th>
          <th scope="col" class="md:w-screen md:table-cell hidden">Hình ảnh</th>
          <th scope="col" class="md:w-screen">Thao tác</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let item of products | paginate : { itemsPerPage: 3, currentPage: p };
          index as i
        "
      >
        <tr class="text-center">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <span>{{ item.name }}</span>
          </td>
          <td>
            <span>{{ item.price }}đ</span>
          </td>
          <td class="md:table-cell hidden">
            <span>{{ item.original_price }}đ</span>
          </td>
          <td>
            <span>{{ item.brand?.slug }}</span>
          </td>
          <td class="md:hidden table-cell">
            <button data-bs-toggle="modal" data-bs-target="#detail_prod">
              Xem
            </button>
          </td>
          <td class="md:table-cell hidden">
            <button
              type="submit"
              data-bs-toggle="modal"
              data-bs-target="#short_description"
              (click)="getItemById(item._id)"
            >
              <span class="hover:text-blue-500">Xem</span>
            </button>
          </td>
          <td class="md:table-cell hidden">
            <button
              type="submit"
              data-bs-toggle="modal"
              data-bs-target="#description"
              (click)="getItemById(item._id)"
            >
              <span class="hover:text-blue-500">Xem</span>
            </button>
          </td>

          <td class="md:table-cell hidden">
            <button
              type="submit"
              data-bs-toggle="modal"
              data-bs-target="#specifications"
              (click)="getItemById(item._id)"
            >
              <span class="hover:text-blue-500">Xem</span>
            </button>
          </td>
          <td class="md:table-cell hidden">
            <img
              src="{{item.images?.[0].base_url}}"
              alt="product"
              class="w-[100px] h-[100px]"
            />
          </td>
          <td>
            <div class="flex gap-1 justify-center">
              <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#editProduct"
                (click)="updateProById(item._id)"
              >
                <span>Sửa</span>
              </button>
              <button
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#delete_prod"
                (click)="getItemById(item._id)"
              >
                <span>Xóa</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-end mr-5 mt-3">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<!-- The Modal Short description -->
<div class="modal" id="short_description">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">{{ product?.short_description }}</div>
    </div>
  </div>
</div>

<!-- The Modal Description -->
<div class="modal" id="description">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">{{ product?.description }}</div>
    </div>
  </div>
</div>

<!-- The Modal Specifications -->
<div class="modal" id="specifications">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div *ngFor="let item of product?.specifications">
          <div *ngFor="let pro of item.attributes">
            <span>{{ pro.name }}: </span>
            <span>{{ pro.value }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Edit Product -->
<div class="modal" id="editProduct">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Chỉnh sửa thông tin sản phẩm</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formProduct">
          <!-- name input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Tên sản phẩm"
              formControlName="name"
            />
          </div>

          <div class="form-outline mb-4">
            <input
              type="number"
              class="form-control"
              placeholder="Giá sản phẩm"
              formControlName="price"
            />
          </div>

          <div class="form-outline mb-4">
            <input
              type="number"
              class="form-control"
              placeholder="Giá bán"
              formControlName="original_price"
            />
          </div>

          <div class="form-outline mb-4">
            <input
              type="number"
              class="form-control"
              placeholder="Số lượng sản phẩm"
              formControlName="quantity"
            />
          </div>
          <div class="form-outline mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Mô tả ngắn của sản phẩm"
              formControlName="short_description"
            />
          </div>

          <div class="form-outline mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Mô tả của sản phẩm"
              formControlName="description"
            />
          </div>

          <div formArrayName="images">
            <ng-container
              *ngFor="let imageGroup of imageArray.controls; let i = index"
            >
              <div [formGroupName]="i">
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    class="form-control"
                    [placeholder]="'Ảnh 1 của sản phẩm'"
                    formControlName="base_url"
                  />
                </div>
                <!-- Các trường input khác -->
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    class="form-control"
                    [placeholder]="'Ảnh 2 của sản phẩm'"
                    formControlName="large_url"
                  />
                </div>
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    class="form-control"
                    [placeholder]="'Ảnh 3 của sản phẩm'"
                    formControlName="medium_url"
                  />
                </div>
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    class="form-control"
                    [placeholder]="'Ảnh 4 của sản phẩm'"
                    formControlName="small_url"
                  />
                </div>
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    class="form-control"
                    [placeholder]="'Ảnh 5 của sản phẩm'"
                    formControlName="thumbnail_url"
                  />
                </div>
              </div>
            </ng-container>
          </div>
          <div class="form-outline mb-4">
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="brand"
            >
              <option *ngFor="let cate of cate" [value]="cate._id">
                {{ cate.name }}
              </option>
            </select>
          </div>
          <!-- <span class="text-red-500">{{ errorMessage }}</span> -->
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#alert"
          (click)="onHandleUpdate()"
        >
          <span>Lưu</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Edit Product Success -->
<div class="modal" id="alert">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-success">
          <span>Chỉnh sửa thông tin sản phẩm thành công!</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Delete Product -->
<div class="modal" id="delete_prod">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Xóa sản phẩm</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          >
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>Chi tiết sản phẩm muốn xóa</form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#delete_success"
          (click)="removeItem(product?._id)"
        >
          <span>Đồng ý</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Delete Product Success -->
<div class="modal" id="delete_success">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-success">
          <span>Xóa sản phẩm thành công!</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Detail Product -->
<div class="modal" id="detail_prod">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Tên sản phẩm</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>Chi tiết sản phẩm</form>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Edit Product -->
<div class="modal" id="addProduct">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Thêm mới sản phẩm</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formProduct">
          <!-- name input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Tên sản phẩm"
              formControlName="name"
            />
          </div>

          <div class="form-outline mb-4">
            <input
              type="number"
              class="form-control"
              placeholder="Giá sản phẩm"
              formControlName="price"
            />
          </div>

          <div class="form-outline mb-4">
            <input
              type="number"
              class="form-control"
              placeholder="Giá bán"
              formControlName="original_price"
            />
          </div>

          <div class="form-outline mb-4">
            <input
              type="number"
              class="form-control"
              placeholder="Số lượng sản phẩm sản phẩm"
              formControlName="quantity"
            />
          </div>
          <div class="form-outline mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Mô tả ngắn của sản phẩm"
              formControlName="short_description"
            />
          </div>

          <div class="form-outline mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Mô tả của sản phẩm"
              formControlName="description"
            />
          </div>

          <div formArrayName="images">
            <ng-container
              *ngFor="let imageGroup of imageArray.controls; let i = index"
            >
              <div class="form-outline mb-4" [formGroupName]="i">
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="'Ảnh 1 của sản phẩm'"
                  formControlName="base_url"
                />
              </div>
              <!-- Các trường input khác -->
              <div class="form-outline mb-4" [formGroupName]="i">
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="'Ảnh 2 của sản phẩm'"
                  formControlName="large_url"
                />
              </div>
              <div class="form-outline mb-4" [formGroupName]="i">
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="'Ảnh 3 của sản phẩm'"
                  formControlName="medium_url"
                />
              </div>
              <div class="form-outline mb-4" [formGroupName]="i">
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="'Ảnh 4 của sản phẩm'"
                  formControlName="small_url"
                />
              </div>
              <div class="form-outline mb-4" [formGroupName]="i">
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="'Ảnh 5 của sản phẩm'"
                  formControlName="thumbnail_url"
                />
              </div>
            </ng-container>
          </div>
          <div class="form-outline mb-4">
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="brand"
            >
              <option *ngFor="let cate of cate" [value]="cate._id">
                {{ cate.name }}
              </option>
            </select>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#addAlert"
          (click)="onHandleAdd()"
        >
          <span>Thêm</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Add Product Success -->
<div class="modal" id="addAlert">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->

      <div class="modal-body" *ngIf="errorMessage">
        <div class="alert alert-danger">
          <span>{{ errorMessage }}</span>
        </div>
      </div>

      <div class="modal-body" *ngIf="!errorMessage">
        <div class="alert alert-success">
          <span>Thêm sản phẩm thành công!</span>
        </div>
      </div>
    </div>
  </div>
</div>
