<div class="flex-1 mt-12 md:mt-2 pb-24 md:pb-5 bg-gray-50">
  <div class="admin-user text-center">
    <div class="p-3 text-2xl text-black">
      <h3 class="font-bold pl-2">Quản lý sản phẩm</h3>
    </div>
  </div>

  <div class="table-responsive p-3">
    <table class="table table-hover">
      <thead class="text-center">
        <tr>
          <th scope="col" class="md:w-screen">STT</th>
          <th scope="col" class="md:w-screen">Tên sản phẩm</th>
          <th scope="col" class="md:w-screen">Giá</th>
          <th scope="col" class="md:w-screen">Giá gốc</th>
          <th scope="col" class="md:w-screen">Mô tả ngắn</th>
          <th scope="col" class="md:w-screen">Mô tả</th>
          <th scope="col" class="md:w-screen">Danh mục</th>
          <th scope="col" class="md:w-screen">Thông số kỹ thuật</th>
          <th scope="col" class="md:w-screen">Hình ảnh</th>
          <th scope="col" class="md:w-screen">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <th scope="row">1</th>
          <td>
            <span>Apple iPad mini (6th Gen) Wi-Fi, 2021</span>
          </td>
          <td>
            <span>12650000</span>
          </td>
          <td>
            <span>14990000</span>
          </td>
          <td>
            <span>Apple</span>
          </td>
          <td>
            <span>Chi tiết</span>
          </td>
          <td>
            <span>Chi tiết</span>
          </td>
          <td>
            <span>Chi tiết</span>
          </td>
          <td>
            <span>Chi tiết</span>
          </td>
          <td>
            <div class="md:flex md:gap-1 md:justify-center">
              <button class="btn btn-primary">
                <span>Sửa</span>
              </button>
              <button class="btn btn-danger">
                <span>Xóa</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-end mr-5 mt-3">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </div>
</div>
