.wrap-breadcrumb {
  margin: 0px 0 30px;
  width: 100%;
  padding: 29px 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: #e6e6e6;
}
.wrap-breadcrumb .breadcrumb {
  display: block;
  float: none;
}
.breadcrumb > li {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.breadcrumb > li a {
  color: #262626;
  padding-left: 10px;
  text-decoration: none;
}
.breadcrumb i {
  font-size: 15px;
  border-right: 1.5px solid #000;
  padding-right: 10px;
}
.breadcrumb i:hover,
.breadcrumb > li a:hover {
  color: #0d6efd;
}
