<div class="container">
  <h1>Thông tin người dùng</h1>
  <form>
    <div class="form-group">
      <label for="name">Tên người dùng:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        value="{{ info.name }}"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        value="{{ info.email }}"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="phone">Số điện thoại:</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        value="{{ info.phone }}"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="address">Địa chỉ :</label>
      <textarea class="form-control" id="address" rows="3" readonly>{{
        info.address
      }}</textarea>
    </div>
    <div class="mt-3 flex justify-center">
      <button type="button" class="btn btn-primary mr-10" (click)="next()">
        Thay đổi thông tin
      </button>
      <button type="button" class="btn btn-success mr-10" (click)="prev()">
        Trở về
      </button>
    </div>
  </form>
</div>
