<!-- <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <input type="email" placeholder="nhap gmail" formControlName="email">
    <button>gui ma</button>
</form> -->
<div class="flex justify-center items-center h-screen bg-[#f9fafb]">
  <form
    class="max-w-sm w-[500px] p-5 bg-[#ffffff] rounded-lg shadow-2xl"
    [formGroup]="emailForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex items-center border-b border-teal-500 py-2 my-3">
      <input
        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
        type="email"
        placeholder="Nhập Gmail"
        formControlName="email"
      />
      <button
        class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
      >
        Gửi mã
      </button>
    </div>
    <div class="text-red-500 flex justify-center items-center">
      {{ errorMessage }}
    </div>
  </form>
</div>
