.pay-card {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.pay-card h1 {
  font-size: 40px;
  font-weight: 600;
}
.no {
  text-align: center;
}
.khung1 {
  margin-left: 20px;
  width: 700px;
}
.banner {
  width: 1400px;
  display: flex;
  justify-items: center;
  grid-template-columns: 1px 1px;
  background-color: aliceblue;
  padding-bottom: 20px;
  padding-top: 20px;
}
.pay-card input {
  width: 600px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(211, 194, 194);
}
.text {
  padding-top: 20px;
}
.tt {
  color: crimson;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  width: 600px;
  border-bottom: 1px solid rgb(211, 194, 194);
}
.pay-card h2 {
  color: crimson;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

.khung2 {
  width: 600px;
  border: 2px solid rgb(31, 179, 49);
  color: rgb(109, 103, 103);
  border-radius: 5px;
}
.colum {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  border-bottom: 1px solid rgb(211, 194, 194);
}
.sum {
  font-size: 16px;
  font-weight: 620;
  margin-left: 10px;
  margin-right: 10px;
}
.sum3 {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.btn {
  width: 100px;
  height: 35px;
  background-color: chartreuse;
  border: none;
  border-radius: 5px;
}
.sum4 {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(211, 194, 194);
}
.dh {
  margin-left: 10px;
  font-size: 16px;
}
.dh1 {
  margin-right: 10px;
}
