
    <div class="header" >
        <div class="no" >
            <h1>THANH TOÁN</h1>
         </div>
        <div class="banner">
           
            <div class="khung1" >
                 <h3 class="tt">THÔNG TIN THANH TOÁN</h3>
                 <div class="text">
                    <p>Tên</p>
                     <form action="">
                         <input type="text" placeholder="Mời Nhập Tên">
                     </form>
                 </div>
                 <div class="text">
                    <p>Địa Chỉ</p>
                     <form action="">
                         <input type="text" placeholder="Mời Nhập Địa Chỉ">
                     </form>
                 </div>
                 <div class="text">
                    <p>Sô Điện Thoại</p>
                     <form action="">
                         <input type="text" placeholder="Mời Nhập SĐT">
                     </form>
             
                 </div>
                 
        
            </div>
            <!---->
            <div class="khung2">
                <h2>ĐƠN HÀNG CỦA BẠN</h2>
                <div class="colum">
                    <div class="sum1">
                        <h4>Sản Phẩm</h4>
                        <p>Tinh chất chống nắng nâng tông dành cho mọi loại da </p>
                        <p>Tổng</p>
                    </div>
                    <div class="sum">
                        <p>Tổng</p>
                        <p>1.800.000</p>
                        <p>1.800.000</p>
                    </div>
                </div>
               <div class="sum3">
                <div>
                    <p>PHƯƠNG THỨC THANH TOÁN:</p>
                    <p>Tổng Tiền Hàng</p>
                    <p>Phí Vận Chuyển</p>
                    
                </div>
                <div>
                   <p>Thanh toán Khi nhận hàng</p>
                   <p>1.800.000</p>
                   <p>20.000</p>
                   
                </div>
               </div>
               <div class="sum4">
                <div class="dh">
                    <p>Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo Điều khoản </p>
                </div>
                <div class="dh1">
                    <button class="btn">Đặt Hàng</button>
                 </div>
                
               </div>
            </div>    
        </div>
       

    </div>


