.header {
  display: flex;
  padding: 8vh;
  gap: 25vh;
  justify-content: center;
}

.logo a img {
  width: 20vh;
}

.menu {
  display: flex;
  font-weight: 600;
}
.menu > ul > li {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: arvo;
}
.menu > ul > li > a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.menu > ul > li > a:hover {
  color: #3ca0e7;
}
.menu > ul > li:hover {
  cursor: pointer;
}
.sub-menu-parent {
  position: relative;
}
.sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  padding-left: 0;
  left: 0;
  width: 100%;
  background: #fff;
  transform: translateY(-2em);
  z-index: 1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
  margin-top: 5px;
}
.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  text-align: left;
  padding-top: 10px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.sub-menu > li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}
.sub-menu > li > a {
  text-decoration: none;
  color: #000;
  margin-left: 20px;
  padding: 5px;
  transition: all 0.5s ease;
  font-size: 16px;
  font-weight: 600;
}
.sub-menu > li > a:hover {
  padding-left: 10px;
  color: #3ca0e7;
  border-left: 1px solid #3ca0e7;
  transition: all 0.3s ease;
}

.icon button {
  margin-left: 3vh;
}
.icon button i {
  font-size: 18px;
}

.icon i:hover {
  color: #3ca0e7;
}
.icon {
  display: flex;
}
.icon a {
  color: #000;
}
.cart-total {
  position: absolute;
  margin-left: 10px;
  margin-top: -30px;
  color: #fff;
  background: #000;
  line-height: 18px;
  width: 18px;
  height: 18px;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  text-transform: lowercase;
  display: block;
  border-radius: 50%;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 4vh;
    gap: 15vh;
    align-items: center;
  }

  .logo a img {
    width: 30vh;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu li a {
    margin-left: 0;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .icon button {
    margin-left: 10px;
    margin-top: 10px;
  }
}
