<div class="background">
    <div class="header">
        <div class="header-logo">
            <div class="logo">
                <a href="#">
                    <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/catalog/logo.png" alt="Logo">
                </a>
            </div>
        </div>
        <ul class="menu">
            <li><a href="">Sculpture</a></li>
            <li><a href="">Frames</a></li>
            <li><a href="">Relief</a></li>
            <li><a href="">Statue</a></li>
            <li><a href="">More</a></li>
        </ul>
        <div class="icons">
            <i class="fa fa-search fa-lg"></i>
            <i class="fa fa-user fa-lg"></i>
            <i class="fa fa-shopping-cart fa-lg"></i>
        </div>
    </div>
</div>