<!-- Phần nền -->
<div class="background">
    <div>
        <div style="display: flex;">
            <img src="https://capricathemes.com/opencart/OPC02/OPC020033/image/catalog/logo.png" alt=""
                style="width: 300px;padding-left: 150px; padding-top: 60px;height: 100px;margin-top: 77px;">
            <!-- Menu -->

            <b style="margin: 10px; padding: 140px;font-size: larger;border:100px ;margin-left: 150px;">
                <li><a href="">Sculpture</a></li>
                <li><a href="">Frames</a></li>
                <li><a href="">Relief</a></li>
                <li><a href="">Statue</a></li>
                <li><a href="">More</a></li>

            </b>
            <b style="margin-top: 155px;">
                <i class="fa fa-search fa-lg" style="margin-right: 15px;">1</i>
                <i class="fa fa-user fa-lg" style="margin-right: 15px;">2</i>
                <i class="fa fa-shopping-cart fa-lg">3</i>
            </b>


        </div>


    </div>

</div>