<div class="wrap-breadcrumb parallax-breadcrumb container-fluid">
  <ul class="breadcrumb">
    <li>
      <a href="/"><i class="fa-solid fa-house"></i></a>
    </li>
    <li>
      <a href="contact">Liên hệ</a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="container-child">
    <div class="left">
      <div class="left-child">
        <h2>Gửi thông tin cho chúng tôi!</h2>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
        <div class="form-child">
          <div class="child1">
            <div class="clid">
              <div class="input1">
                <input
                  type="text"
                  formControlName="name"
                  placeholder="Họ và tên *"
                  autocomplete="off"
                />
              </div>
              <div class="input2">
                <input
                  type="text"
                  formControlName="email"
                  placeholder="Email *"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="child1">
            <div class="clid">
              <div class="input1">
                <input
                  type="text"
                  formControlName="phone"
                  placeholder="Số điện thoại *"
                  autocomplete="off"
                />
              </div>
              <div class="input2">
                <input
                  type="text"
                  formControlName="address"
                  placeholder="Địa chỉ *"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="child2">
            <textarea
              formControlName="content"
              placeholder="Nội dung *"
              rows="5"
              cols="80"
              autocomplete="off"
            ></textarea>
          </div>
          <div class="text-center text-red-500 p-1">
            {{ errorMessage }}
          </div>
          <div class="child3">
            <div class="form-child3">
              <button type="submit">
                <span>Gửi</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="right container">
      <div class="form-child">
        <div class="child1">
          <div class="form-child">
            <div class="childa">
              <div class="address">
                <a
                  href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+Cao+%C4%91%E1%BA%B3ng+FPT+Polytechnic/@21.0361057,105.7460434,13.81z/data=!4m6!3m5!1s0x313454b991d80fd5:0x53cefc99d6b0bf6f!8m2!3d21.0381278!4d105.7467871!16s%2Fg%2F11h0ywc69?hl=vi-VN&entry=ttu"
                  target="_blank"
                >
                  <i class="fa-solid fa-house"></i>
                  <span>
                    Tòa nhà FPT Polytechnic, P. Trịnh Văn Bô, Xuân Phương, Nam
                    Từ Liêm, Hà Nội, Việt Nam
                  </span>
                </a>
              </div>
            </div>
            <div class="childa">
              <div class="phone">
                <a href="tel:0367370371">
                  <i class="fa-solid fa-phone"></i>
                  <span>0367370371</span>
                </a>
              </div>
            </div>
            <div class="childa">
              <div class="mail">
                <a href="mailto:tranluong460@gmail.com">
                  <i class="fa-solid fa-envelope"></i>
                  <span> tranluong460@gmail.com </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="gg-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.863981178819!2d105.7442121749293!3d21.03812778061354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1685696605546!5m2!1svi!2s"
            width="550"
            height="235"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
