<div class="wrap-breadcrumb parallax-breadcrumb">
  <ul class="breadcrumb">
    <li>
      <a href="/"><i class="fa-solid fa-house"></i></a>
    </li>
    <li>
      <a href="contact">Liên hệ</a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="container-child">
    <div class="left">
      <div class="left-child">
        <h2>Gửi thông tin cho chúng tôi!</h2>
      </div>
      <form>
        <div class="form-child">
          <div class="child1">
            <div class="clid">
              <div class="input1">
                <input
                  type="text"
                  name="name"
                  placeholder="Họ và tên *"
                  autocomplete="off"
                />
              </div>
              <div class="input2">
                <input
                  type="text"
                  name="email"
                  placeholder="Email *"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="child1">
            <div class="clid">
              <div class="input1">
                <input
                  type="text"
                  name="phone"
                  placeholder="Số điện thoại *"
                  autocomplete="off"
                />
              </div>
              <div class="input2">
                <input
                  type="text"
                  name="address"
                  placeholder="Địa chỉ"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="child2">
            <textarea
              name="content"
              placeholder="Nội dung"
              rows="5"
              cols="80"
              autocomplete="off"
            ></textarea>
          </div>
          <div class="child3">
            <div class="form-child3">
              <button type="submit">
                <span>Gửi</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="right">
      <div class="form-child">
        <div class="child1">
          <div class="form-child">
            <div class="childa">
              <a href="#">
                <i class="fa-solid fa-house"></i>
                <span>
                  344 Huỳnh Tấn Phát, Phường Bình Thuận, Quận 7, Tp. Hồ Chí
                  Minh, Việt Nam
                </span>
              </a>
            </div>
            <div class="childa">
              <a href="#">
                <i class="fa-solid fa-phone"></i>
                <span> 0367370371 </span>
              </a>
            </div>
            <div class="childa">
              <a href="#">
                <i class="fa-solid fa-envelope"></i>
                <span> tranluong460@gmail.com </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
