<div class="flex-1 mt-12 md:mt-2 pb-24 md:pb-5 bg-gray-50 h-screen">
  <div class="text-center">
    <div class="p-3 text-2xl text-black">
      <h3 class="font-bold pl-2">Quản lý danh mục</h3>
    </div>
  </div>

  <div class="mr-[5vh] text-right">
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addCategory"
    >
      <span>Thêm</span>
    </button>
  </div>

  <div class="table-responsive p-3">
    <table class="table table-hover">
      <thead class="text-center">
        <tr>
          <th scope="col" class="md:w-screen">STT</th>
          <th scope="col" class="md:w-screen">Tên danh mục</th>
          <th scope="col" class="md:w-screen">Slug</th>
          <th scope="col" class="md:w-screen">Thao tác</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let item of categories
            | paginate : { itemsPerPage: 7, currentPage: p };
          index as i
        "
      >
        <tr class="text-center">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <span>{{ item.name }}</span>
          </td>
          <td>
            <span>{{ item.slug }}</span>
          </td>

          <td>
            <div class="flex gap-1 justify-center">
              <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#editCategories"
                (click)="updateCateById(item._id)"
              >
                <span>Sửa</span>
              </button>
              <button
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#delete_cate"
                (click)="getCate(item._id)"
              >
                <span>Xóa</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-end mr-5 mt-3">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<!-- The Modal Edit Product -->
<div class="modal" id="editCategories">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Chỉnh sửa thông tin sản phẩm</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formCategory">
          <!-- name input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Tên danh mục"
              formControlName="name"
            />
          </div>

          <div class="form-outline mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="slug"
              formControlName="slug"
            />
          </div>

          <!-- <span class="text-red-500">{{ errorMessage }}</span> -->
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#alert"
          (click)="updateCate()"
        >
          <span>Lưu</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Edit Product Success -->
<div class="modal" id="alert">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-success">
          <span>Chỉnh sửa thông tin sản phẩm thành công!</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Delete Category -->
<div class="modal" id="delete_cate">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Xóa danh mục</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>Chi tiết danh mục muốn xóa</form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#delete_success"
          (click)="removeCategories(category._id)"
        >
          <span> Xóa</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Delete Category Success -->
<div class="modal" id="delete_success">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-success">
          <span>Xóa danh mục thành công!</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Edit Product -->
<div class="modal" id="addCategory">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Thêm mới danh mục</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formCategory">
          <!-- name input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Tên danh mục"
              formControlName="name"
            />
          </div>

          <div class="form-outline mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="slug"
              formControlName="slug"
            />
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#addAlert"
          (click)="addCate()"
        >
          <span>Thêm</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Add Product Success -->
<div class="modal" id="addAlert">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-success">
          <span>Thêm danh mục thành công!</span>
        </div>
      </div>
    </div>
  </div>
</div>
