<div class="flex-1 mt-12 md:mt-2 pb-24 md:pb-5 bg-gray-50 h-screen">
  <div class="text-center">
    <div class="p-3 text-2xl text-black">
      <h3 class="font-bold pl-2">Quản lý danh mục</h3>
    </div>
  </div>

  <div class="table-responsive p-3 md:w-full w-screen">
    <table class="table table-hover">
      <thead class="text-center">
        <tr>
          <th scope="col" class="md:w-screen">STT</th>
          <th scope="col" class="md:w-screen">Tên danh mục</th>
          <th scope="col" class="md:w-screen">Slug</th>
          <th scope="col" class="md:w-screen">Thao tác</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let item of categories
            | paginate : { itemsPerPage: 8, currentPage: p };
          index as i
        "
      >
        <tr>
          <th scope="row" class="text-center">1</th>
          <td class="text-center">
            <span>Apple</span>
          </td>
          <td class="text-center">
            <span>Apple</span>
          </td>
          <td>
            <div class="flex gap-1 justify-center">
              <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#editCategory"
              >
                <span>Sửa</span>
              </button>
              <button
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#delete_cate"
              >
                <span>Xóa</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-end mr-5 mt-3">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<!-- The Modal Edit Category -->
<div class="modal" id="editCategory">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Chỉnh sửa thông tin danh mục</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>Form thông tin danh mục</form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#alert"
        >
          <span>Lưu</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Edit Category Success-->
<div class="modal" id="alert">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-success">
          <span>Chỉnh sửa thông tin danh mục thành công!</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Delete Category -->
<div class="modal" id="delete_cate">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Xóa danh mục</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>Chi tiết danh mục muốn xóa</form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#delete_success"
        >
          <span>Đồng ý</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Delete Category Success -->
<div class="modal" id="delete_success">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-success">
          <span>Xóa danh mục thành công!</span>
        </div>
      </div>
    </div>
  </div>
</div>
