<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form action="#" class="sign-in-form">
        <h2 class="title">Đăng nhập</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Mật khẩu" />
        </div>
        <input type="submit" value="Đăng nhập" class="btn solid" />
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Bạn là người mới ?</h3>
        <p>
          Bản thân khách hàng, khách hàng sẽ có thể theo đuổi sự thành công của
          công ty. Bạn phải, không có lý do. Thứ gì đó!
        </p>
        <button (click)="routers()" class="btn transparent" id="sign-up-btn">
          Đăng ký
        </button>
      </div>
      <!-- <img
        src="https://capricathemes.com/opencart/OPC02/OPC020033/image/catalog/logo.png"
        class="image"
        alt="logo"
      /> -->
    </div>
  </div>
</div>
