<div
  class="bg-gradient-to-b from-gray-200 to-gray-100 md:bg-white bg-gray-800 h-16 fixed bottom-0 md:relative md:h-full z-10 w-full md:w-48"
>
  <div
    class="md:m-6 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between md:block hidden"
  >
    <a href="/"
      ><img
        src="https://capricathemes.com/opencart/OPC02/OPC020033/image/catalog/logo.png"
        alt="logo"
        class="max-w-sm"
      />
    </a>
  </div>
  <div
    class="md:mt-12 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between"
  >
    <ul
      class="md:grid md:mt-[50px] flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left"
    >
      <li class="mr-3 flex-1 md:ml-5 md:p-1">
        <a
          href="admin/dashboard"
          class="block py-1 md:py-3 pl-1 align-middle md:text-black no-underline border-gray-800 md:text-left"
        >
          <i
            class="fa-sharp fa-solid fa-chart-simple pr-0 md:pr-3 hover:text-blue-500"
          ></i>
          <span
            class="pb-1 md:pb-0 text-xs md:text-base md:text-black block md:inline-block hover:text-blue-500"
            >Dashboard</span
          >
        </a>
      </li>
      <li class="mr-3 flex-1 md:ml-5 md:p-1">
        <a
          href="admin/products"
          class="block py-1 md:py-3 pl-1 align-middle md:text-black no-underline border-gray-800 md:text-left"
        >
          <i class="fas fa-tasks pr-0 md:pr-3 hover:text-blue-500"></i>
          <span
            class="pb-1 md:pb-0 text-xs md:text-base md:text-black block md:inline-block hover:text-blue-500"
            >Sản phẩm</span
          >
        </a>
      </li>
      <li class="mr-3 flex-1 md:ml-5 md:p-1">
        <a
          href="admin/categories"
          class="block py-1 md:py-3 pl-1 align-middle md:text-black no-underline border-gray-800 md:text-left"
        >
          <i class="fa-brands fa-opencart pr-0 md:pr-3 hover:text-blue-500"></i>
          <span
            class="pb-1 md:pb-0 text-xs md:text-base md:text-black block md:inline-block hover:text-blue-500"
            >Danh mục</span
          >
        </a>
      </li>
      <li class="mr-3 flex-1 md:ml-5 md:p-1">
        <a
          href="admin/orders"
          class="block py-1 md:py-3 pl-1 align-middle md:text-black no-underline border-gray-800 md:text-left"
        >
          <i class="fas fa-cart-shopping pr-0 md:pr-3 hover:text-blue-500"></i>
          <span
            class="pb-1 md:pb-0 text-xs md:text-base md:text-black block md:inline-block hover:text-blue-500"
            >Đơn hàng</span
          >
        </a>
      </li>
      <li class="mr-3 flex-1 md:ml-5 md:p-1">
        <a
          href="admin/contacts"
          class="block py-1 md:py-3 pl-1 align-middle md:text-black no-underline border-gray-800 md:text-left"
        >
          <i
            class="fa-solid fa-address-book pr-0 md:pr-3 hover:text-blue-500"
          ></i>
          <span
            class="pb-1 md:pb-0 text-xs md:text-base md:text-black block md:inline-block hover:text-blue-500"
            >Phản hồi</span
          >
        </a>
      </li>
      <li class="mr-3 flex-1 md:ml-5 md:p-1">
        <a
          href="admin/comments"
          class="block py-1 md:py-3 pl-1 align-middle md:text-black no-underline border-gray-800 md:text-left"
        >
          <i class="fa-solid fa-comment pr-0 md:pr-3 hover:text-blue-500"></i>
          <span
            class="pb-1 md:pb-0 text-xs md:text-base md:text-black block md:inline-block hover:text-blue-500"
            >Bình luận</span
          >
        </a>
      </li>
      <li class="mr-3 flex-1 md:ml-5 md:p-1">
        <a
          href="admin/users"
          class="block py-1 md:py-3 pl-1 align-middle md:text-black no-underline border-gray-800 md:text-left"
        >
          <i class="fa-solid fa-user pr-0 md:pr-3 hover:text-blue-500"></i>
          <span
            class="pb-1 md:pb-0 text-xs md:text-base md:text-black block md:inline-block hover:text-blue-500"
            >Người dùng</span
          >
        </a>
      </li>
    </ul>
  </div>
</div>
